# ConnectionStrings
ConnectionStrings__PostgreSqlConnectionString=User ID=postgres;Password=password;Host=postgres-db;Port=5432;Database=MeetSpaceDb;

# JwtSettings
JwtSettings__SecretKey=secretkey
JwtSettings__Audience=http://localhost:3000
JwtSettings__Issuer=http://localhost:5200
JwtSettings__ExpiresInMinutes=10

# RefreshTokenSettings
RefreshTokenSettings__ExpiresInDays=14

# RolesSettings
RolesSettings__User__Id=06af8b49-9a2a-4017-af1d-c2d0ef25ec45
RolesSettings__User__Name=User
RolesSettings__Manager__Id=7cfd6b8e-4289-4f97-911d-b24bb5608f68
RolesSettings__Manager__Name=Manager
RolesSettings__DefaultRoleId=06af8b49-9a2a-4017-af1d-c2d0ef25ec45

# RolePoliciesSettings
RolePoliciesSettings__OnlyManager__Name=OnlyManager
RolePoliciesSettings__OnlyManager__AllowedRoles__0=Manager

# CorsSettings
CorsSettings__PolicyName=AllowReactApp
CorsSettings__AllowedOrigin=http://localhost:3000

# SeedingOptions - Rooms
SeedingOptions__Rooms__0__Name=Переговорная 1
SeedingOptions__Rooms__0__Capacity=10
SeedingOptions__Rooms__0__Floor=2
SeedingOptions__Rooms__0__Description=Большая переговорная с панорамными окнами
SeedingOptions__Rooms__0__IsActive=true

SeedingOptions__Rooms__1__Name=Переговорная 2
SeedingOptions__Rooms__1__Capacity=6
SeedingOptions__Rooms__1__Floor=2
SeedingOptions__Rooms__1__Description=Средняя переговорная для командных встреч
SeedingOptions__Rooms__1__IsActive=true

SeedingOptions__Rooms__2__Name=Переговорная 3
SeedingOptions__Rooms__2__Capacity=4
SeedingOptions__Rooms__2__Floor=3
SeedingOptions__Rooms__2__Description=Малая комната для быстрых созвонов
SeedingOptions__Rooms__2__IsActive=true

SeedingOptions__Rooms__3__Name=Переговорная 4
SeedingOptions__Rooms__3__Capacity=15
SeedingOptions__Rooms__3__Floor=1
SeedingOptions__Rooms__3__Description=Конференц-зал для общих собраний
SeedingOptions__Rooms__3__IsActive=true

SeedingOptions__Rooms__4__Name=Переговорная 5
SeedingOptions__Rooms__4__Capacity=8
SeedingOptions__Rooms__4__Floor=1
SeedingOptions__Rooms__4__Description=Средняя переговорная с проектором
SeedingOptions__Rooms__4__IsActive=true

SeedingOptions__Rooms__5__Name=Переговорная 6
SeedingOptions__Rooms__5__Capacity=4
SeedingOptions__Rooms__5__Floor=2
SeedingOptions__Rooms__5__Description=Малая комната для переговоров 1-на-1
SeedingOptions__Rooms__5__IsActive=true

SeedingOptions__Rooms__6__Name=Переговорная 7
SeedingOptions__Rooms__6__Capacity=12
SeedingOptions__Rooms__6__Floor=3
SeedingOptions__Rooms__6__Description=Большая переговорная для планерок
SeedingOptions__Rooms__6__IsActive=true

SeedingOptions__Rooms__7__Name=Переговорная 8
SeedingOptions__Rooms__7__Capacity=6
SeedingOptions__Rooms__7__Floor=1
SeedingOptions__Rooms__7__Description=Переговорная с телевизором и ВКС
SeedingOptions__Rooms__7__IsActive=true

SeedingOptions__Rooms__8__Name=Переговорная 9
SeedingOptions__Rooms__8__Capacity=3
SeedingOptions__Rooms__8__Floor=3
SeedingOptions__Rooms__8__Description=Комната для коротких созвонов
SeedingOptions__Rooms__8__IsActive=true

SeedingOptions__Rooms__9__Name=Переговорная 10
SeedingOptions__Rooms__9__Capacity=20
SeedingOptions__Rooms__9__Floor=4
SeedingOptions__Rooms__9__Description=Конференц-зал для больших собраний
SeedingOptions__Rooms__9__IsActive=true

# SeedingOptions - Equipment
SeedingOptions__Equipment__0__Name=Проектор
SeedingOptions__Equipment__1__Name=Доска
SeedingOptions__Equipment__2__Name=Телевизор
SeedingOptions__Equipment__3__Name=ВКС
SeedingOptions__Equipment__4__Name=Wi-Fi
SeedingOptions__Equipment__5__Name=Кондиционер

# SeedingOptions - Mappings
SeedingOptions__Mappings__0__RoomName=Переговорная 1
SeedingOptions__Mappings__0__EquipmentName=Проектор
SeedingOptions__Mappings__1__RoomName=Переговорная 1
SeedingOptions__Mappings__1__EquipmentName=Доска
SeedingOptions__Mappings__2__RoomName=Переговорная 1
SeedingOptions__Mappings__2__EquipmentName=ВКС
SeedingOptions__Mappings__3__RoomName=Переговорная 1
SeedingOptions__Mappings__3__EquipmentName=Кондиционер

SeedingOptions__Mappings__4__RoomName=Переговорная 2
SeedingOptions__Mappings__4__EquipmentName=Телевизор
SeedingOptions__Mappings__5__RoomName=Переговорная 2
SeedingOptions__Mappings__5__EquipmentName=Доска
SeedingOptions__Mappings__6__RoomName=Переговорная 2
SeedingOptions__Mappings__6__EquipmentName=Wi-Fi
SeedingOptions__Mappings__7__RoomName=Переговорная 2
SeedingOptions__Mappings__7__EquipmentName=Кондиционер

SeedingOptions__Mappings__8__RoomName=Переговорная 3
SeedingOptions__Mappings__8__EquipmentName=Телевизор
SeedingOptions__Mappings__9__RoomName=Переговорная 3
SeedingOptions__Mappings__9__EquipmentName=Wi-Fi
SeedingOptions__Mappings__10__RoomName=Переговорная 3
SeedingOptions__Mappings__10__EquipmentName=Доска

SeedingOptions__Mappings__11__RoomName=Переговорная 4
SeedingOptions__Mappings__11__EquipmentName=Проектор
SeedingOptions__Mappings__12__RoomName=Переговорная 4
SeedingOptions__Mappings__12__EquipmentName=ВКС
SeedingOptions__Mappings__13__RoomName=Переговорная 4
SeedingOptions__Mappings__13__EquipmentName=Доска
SeedingOptions__Mappings__14__RoomName=Переговорная 4
SeedingOptions__Mappings__14__EquipmentName=Кондиционер
SeedingOptions__Mappings__15__RoomName=Переговорная 4
SeedingOptions__Mappings__15__EquipmentName=Wi-Fi

SeedingOptions__Mappings__16__RoomName=Переговорная 5
SeedingOptions__Mappings__16__EquipmentName=Проектор
SeedingOptions__Mappings__17__RoomName=Переговорная 5
SeedingOptions__Mappings__17__EquipmentName=Доска
SeedingOptions__Mappings__18__RoomName=Переговорная 5
SeedingOptions__Mappings__18__EquipmentName=ВКС
SeedingOptions__Mappings__19__RoomName=Переговорная 5
SeedingOptions__Mappings__19__EquipmentName=Кондиционер

SeedingOptions__Mappings__20__RoomName=Переговорная 6
SeedingOptions__Mappings__20__EquipmentName=Телевизор
SeedingOptions__Mappings__21__RoomName=Переговорная 6
SeedingOptions__Mappings__21__EquipmentName=Wi-Fi
SeedingOptions__Mappings__22__RoomName=Переговорная 6
SeedingOptions__Mappings__22__EquipmentName=Кондиционер

SeedingOptions__Mappings__23__RoomName=Переговорная 7
SeedingOptions__Mappings__23__EquipmentName=Проектор
SeedingOptions__Mappings__24__RoomName=Переговорная 7
SeedingOptions__Mappings__24__EquipmentName=Доска
SeedingOptions__Mappings__25__RoomName=Переговорная 7
SeedingOptions__Mappings__25__EquipmentName=ВКС
SeedingOptions__Mappings__26__RoomName=Переговорная 7
SeedingOptions__Mappings__26__EquipmentName=Wi-Fi

SeedingOptions__Mappings__27__RoomName=Переговорная 8
SeedingOptions__Mappings__27__EquipmentName=Телевизор
SeedingOptions__Mappings__28__RoomName=Переговорная 8
SeedingOptions__Mappings__28__EquipmentName=ВКС
SeedingOptions__Mappings__29__RoomName=Переговорная 8
SeedingOptions__Mappings__29__EquipmentName=Доска
SeedingOptions__Mappings__30__RoomName=Переговорная 8
SeedingOptions__Mappings__30__EquipmentName=Кондиционер

SeedingOptions__Mappings__31__RoomName=Переговорная 9
SeedingOptions__Mappings__31__EquipmentName=Телевизор
SeedingOptions__Mappings__32__RoomName=Переговорная 9
SeedingOptions__Mappings__32__EquipmentName=Wi-Fi
SeedingOptions__Mappings__33__RoomName=Переговорная 9
SeedingOptions__Mappings__33__EquipmentName=Доска

SeedingOptions__Mappings__34__RoomName=Переговорная 10
SeedingOptions__Mappings__34__EquipmentName=Проектор
SeedingOptions__Mappings__35__RoomName=Переговорная 10
SeedingOptions__Mappings__35__EquipmentName=ВКС
SeedingOptions__Mappings__36__RoomName=Переговорная 10
SeedingOptions__Mappings__36__EquipmentName=Доска
SeedingOptions__Mappings__37__RoomName=Переговорная 10
SeedingOptions__Mappings__37__EquipmentName=Кондиционер
SeedingOptions__Mappings__38__RoomName=Переговорная 10
SeedingOptions__Mappings__38__EquipmentName=Wi-Fi

# S3StorageSettings
S3StorageSettings__ServiceUrl=http://minio:9000
S3StorageSettings__AccessKey=Admin
S3StorageSettings__SecretKey=password
S3StorageSettings__BucketName=meet-space
S3StorageSettings__PresignedUrlExpirationMinutes=60

# BookingSettings
BookingSettings__WorkDayStart=09:00
BookingSettings__WorkDayEnd=18:00