.room-card__data {
    display: flex;
    gap: 16px;
}

.room-card {
    cursor: pointer;
}

@media (width <= 62em) {
    .room-card__data {
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }
}
